<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
    <!-- Agregar referencias a CSS aquí -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .btn-editar {
            background-color: #007bff;
            color: white;
            padding: 2px 5px;
            border-radius: 5px;
            text-decoration: none;
        }
        .btn-eliminar {
            background-color: #dc3545;
            color: white;
            padding: 2px 5px;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body style="background-image: linear-gradient(to left,rgb(223, 231, 248),rgb(206, 181, 247));">
    <div class="container mt-5">
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="table-responsive mt-3">
            <table class="table table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Ciudad</th>
                        <th>Cargo</th>
                        <th style="width: 300px">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td th:text="${usuario.codUsuario}">Código</td>
                        <td th:text="${usuario.nombre}">Nombre</td>
                        <td th:text="${usuario.apellido}">Apellido</td>
                        <td th:text="${usuario.cedula}">Cédula</td>
                        <td th:text="${usuario.telefono}">Teléfono</td>
                        <td th:text="${usuario.correo}">Teléfono</td>
                        <td th:text="${usuario.ciudad.descriCiudad}">Ciudad</td>
                        <td th:text="${usuario.cargo.nombre}">Cargo</td>
                        <td>
                            <a class="btn-editar" th:href="@{'/usuarios/' + ${usuario.codUsuario} + '/editar'}">Editar</a>
                            <a class="btn-eliminar" th:href="@{'/usuarios/' + ${usuario.codUsuario} + '/eliminar'}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="/usuarios/crear">Agregar nuevo usuario</a>
        <div class="footer" th:replace="~{fragments/footer :: footer}"></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>