<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .btn-editar {
            background-color: #007bff;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
        }
        .btn-eliminar {
            background-color: #dc3545;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body style="background-image: linear-gradient(to left,rgb(223, 231, 248),rgb(206, 181, 247));">
    <div class="container mt-5">
        <div th:replace="~{fragments/header :: header}"></div>
        <h2>Lista de Proveedores</h2>
        <div>
            <a href="/proveedores/crear" class="btn btn-primary">Agregar Proveedor</a>
        </div>
        <table class="table table-hover mt-3 table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">NIT</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Correo</th>
                    <th scope="col" style="width: 180px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proveedor : ${proveedores}">
                    <th scope="row" th:text="${proveedor.codProveedor}">1</th>
                    <td th:text="${proveedor.empresa}">Empresa XYZ</td>
                    <td th:text="${proveedor.telefono}">123456789</td>
                    <td th:text="${proveedor.nit}">901234567-8</td>
                    <td th:text="${proveedor.direccion}">Calle Falsa 123</td>
                    <td th:text="${proveedor.correo}"></td>
                    <td>
                        <a th:href="@{/proveedores/{id}/editar(id=${proveedor.codProveedor})}" class="btn btn-primary">Editar</a>
                        <a th:href="@{/proveedores/eliminar/{id}(id=${proveedor.codProveedor})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer" th:replace="~{fragments/footer :: footer}"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>