<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Título de la Página</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body style="background-image: linear-gradient(to left,rgb(223, 231, 248),rgb(206, 181, 247));">
    <div class="container mt-5">
        <div th:replace="~{fragments/header :: header}"></div>
        <h1>Formulario del Cliente</h1>
        <div class="row">
            <div class="col-md-8"> <!-- Ajusta el tamaño de la columna para controlar el ancho del formulario -->
                <form th:action="@{/clientes/nuevo}" th:object="${cliente}" method="post" th:if="${cliente.idCliente == null }">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" th:value="*{nombre}" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" th:value="*{apellido}" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="telefono">Telefono:</label>
                            <input type="text" id="telefono" name="telefono" th:value="*{telefono}" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="correo">Correo:</label>
                            <input type="email" placeholder="example@example.com" id="correo" name="correo" th:value="*{correo}" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="ciudad">Ciudad:</label>
                            <select id="ciudad" name="ciudad.idCiudad" class="form-control">
                                <option value="">Seleccione una Ciudad</option>
                                <option th:each="ciudad : ${ciudades}" th:value="${ciudad.idCiudad}" th:text="${ciudad.descriCiudad}"></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                <form th:action="@{/clientes/{idCliente}/editar(idCliente=${cliente.idCliente})}" th:object="${cliente}" method="post" th:if="${cliente.idCliente != null}">
                    <input type="hidden" th:if="${cliente.idCliente}" id="idCliente" name="idCliente" th:value="${id}" />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" th:value="*{nombre}" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" th:value="*{apellido}" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="telefono">Telefono:</label>
                            <input type="text" id="telefono" name="telefono" th:value="*{telefono}" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="correo">Correo:</label>
                            <input type="email" id="correo" name="correo" th:value="*{correo}" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="ciudad">Ciudad:</label>
                            <select id="ciudad" name="ciudad.idCiudad" class="form-control">
                                <option value="">Seleccione una Ciudad</option>
                                <option th:each="ciudad : ${ciudades}" 
                                        th:value="${ciudad.idCiudad}" 
                                        th:text="${ciudad.descriCiudad}" 
                                        th:selected="${ciudad.idCiudad == cliente.ciudad.idCiudad}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Confirmar</button>
                </form>
            </div>
        </div>
        <div class="footer" th:replace="~{fragments/footer :: footer}"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>