<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISTRIMEC - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div th:replace="~{fragments/header :: header}"></div>
            <a class="navbar-brand" href="#">DISTRIMEC</a>
            
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="container text-center my-5">
        <img src="ruta-a-tu-imagen.jpg" class="img-fluid" alt="Imagen Distribuidora">
        <h2 class="mt-4">"Somos una Familia que se preocupa por ti y tus seres queridos, tu salud nos importa por eso trabajamos con productos de la mejor calidad"</h2>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center py-3">
        <p>&copy; 2024 DISTRIMEC. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>